@import "vars"


@media only screen and (min-width : 576px)
    // 4
    .cases
        &__title
            flex-basis: 100%
            width: 100% 
            display: none
            &-desktop
                flex-basis: 100%
                width: 100%
                display: block
                font-style: normal
                font-weight: normal
                font-size: 20px
                line-height: 32px
                text-transform: uppercase
                color: #FFFFFF
                padding-bottom: 60px
                text-align: center
        &__wrapper
            display: flex
            flex-wrap: wrap
            align-items: flex-start
            justify-content: center
        &__item
            flex-basis: 45%
            width: 45%
            margin-left: 10px
            margin-right: 10px
            max-width: 328px
        &-item
            &__img
                display: none
                &-wrapper
                    max-width: 330px
            &__img-bg
                display: block
            &__title
                font-size: 18px
    // 5
    .clients
        &-carousel__cell
            width: 50%

@media only screen and (min-width : 767px)
    // 1
    .welcome
        background: url(../img/bg-welcome-lg.jpg) no-repeat center bottom
        background-size: cover
        &__wrapper
            flex-direction: column
            padding: 30px 30px 120px 30px
        &::before
            display: none
        &__type
            order: 1
        &__title
            order: 2
            max-width: 350px
        &__subtitle
            display: block
            order: 3
            padding-bottom: 140px
            max-width: 350px
        &__main-img-wrapper
            position: absolute
            right: 40px
            padding-bottom: 0
            max-width: 100%
            width: 350px
            &::before
                display: none
        &__btn-with-text
            display: flex
            flex-direction: column
            align-self: flex-start
        &__text
            order: 1
            padding: 0 0 15px 0
        &__btn
            order: 2
    // 2
    .how
        background: url(../img/bg-how-lg.jpg) no-repeat center
        background-size: cover
        &__wrapper
            padding: 86px 30px 177px 30px
        &__mobile
            display: none
        &__desktop
            display: block
        &__main-title
            font-style: normal
            font-weight: normal
            font-size: 20px
            line-height: 32px
            color: #FFFFFF
            padding-bottom: 100px
    // 3
    .features
        background: url(../img/bg-features-lg.jpg) no-repeat center
        background-size: cover
        &::before
            display: none
        &__mobile
            display: none
        &__desktop
            padding: 189px 30px 109px 30px
            display: block
    // 4
    .cases
        background: url(../img/bg-cases-lg.jpg) no-repeat center
        background-size: cover
        &__wrapper
            padding: 120px 30px 103px 30px
        &__leave-order
            display: none
        &__leave-order-d
            display: block
    // 5
    .clients
        background: url(../img/bg-clients-lg.jpg) no-repeat center
        background-size: cover
    // 6
    .feedback
        background: url(../img/bg-feedback-lg.jpg) no-repeat center / cover
        &__wrapper
            padding: 60px 30px 85px 30px
            max-width: 790px
            margin: 0 auto
        &-group__label
            font-size: 16px
            line-height: 1.2
        &__features-title
            font-size: 20px
        &__features-subtitle
            font-size: 16px
        &__form-title
            font-size: 18px
            font-weight: bold
        &-form__input,
        &-form__text,
        &-form__btn
            font-size: 18px

@media only screen and (min-width : 992px)
    // 0
    .header
        &__overlay.active
            display: none
        &__wrapper
            padding: 0 30px
            justify-content: flex-start
        &__logo
            order: 1
            margin-right: 15px
            &-img
                padding-right: 13px
            &-title
                display: block
                font-size: 10px
                letter-spacing: 2px
        &__order-call
            margin-right: 15px
            font-size: 12px
        &__direct-call
            margin-right: 15px
        &__nav
            order: 2
            flex-grow: 1
        &__list
            margin-left: auto
            &-item
                &:not(:last-child)
                    margin-right: 10px
        &__menu-btn
            order: 3
            display: none
        &__nav,
        &__list
            flex-direction: row
        &__nav
            align-items: center
    // 2
    .how
        &-road
            &__item
                flex-basis: 30%
                width: 30%
                &:nth-child(even)
                    padding-right: 0
                &:nth-child(4),
                &:nth-child(5),
                &:nth-child(6)
                    margin-bottom: 0
    // 4
    .cases
        &__item
            margin-left: 40px
            margin-right: 40px
            opacity: .5
            transition: all .3s ease
            &:hover
                opacity: 1
        &-item
            &__img-link
                position: absolute
                top: 50%
                left: 50%
                transform: translate(-50%,-50%)
                width: 100px
                height: 100px
                border-radius: 50%
                display: flex
                align-items: center
                justify-content: center
                font-style: normal
                font-weight: normal
                font-size: 16px
                line-height: 20px
                color: #000000
                background: #fff
                opacity: 0
                transition: all .3s ease
                text-decoration: none
            &:hover &__img-link
                opacity: 1
    .leave-order-d
        &__wrapper
            height: 65px
        &__title
            font-size: 16px
        &__btn
            font-size: 16px
    // 5
    .clients
        &-carousel__cell
            width: 33.33%
    // footer
    .footer
        &__wrapper
            flex-direction: row
            justify-content: space-between
        &__logo
            padding-bottom: 0
        &__img
            width: 117px
        &__list-with-title
            text-align: left
            padding-bottom: 0
        &__socials-list
            text-align: left
            padding-bottom: 0

@media only screen and (min-width : 1200px)
    // 1
    .welcome
        &__wrapper
            padding: 70px 30px 95px 30px
        &__type-icon
            padding-right: 12px
        &__type
            font-size: 22.6667px
            line-height: 28px
            padding-top: 130px
        &__title
            font-style: normal
            font-weight: bold
            color: #FFFFFF
            max-width: 524px
            font-size: 32px
            line-height: 1.5
        &__subtitle
            font-size: 20px
            max-width: unset
        &__text
            font-size: 14px
    // 2
    .how
        &__main-title
            font-style: normal
            font-weight: normal
            font-size: 26px
            line-height: 32px
            padding-bottom: 169px
    // 3
    .features
        &__d-items
            min-height: 650px
            margin-bottom: 90px
        &-d-item
            &__content
                padding-left: 440px
                justify-content: center
        &-list__btn
            font-size: 18px
    .features-d-item
        &__img
            width: 313px
    // 4
    .cases
        &__item
            margin-left: 70px
            margin-right: 70px
        &__title-desktop
            font-style: normal
            font-weight: normal
            font-size: 42px
            line-height: 51px
            padding-bottom: 120px
        &-item
            &__title
                font-style: normal
                font-weight: 500
                font-size: 26px
                line-height: 30px
            &__descr
                font-style: normal
                font-weight: 300
                font-size: 18px
                line-height: 21px
    // 5
    .clients
        outline: 1px solid #000
        &__wrapper
            padding: 120px 30px 206px 30px
        &__title
            padding-bottom: 120px
            font-size: 42px
            line-height: 51px
        &-carousel
            &__cell
                width: 25%
                margin-top: 30px
                &::before
                    display: none
            &__slider
                padding-bottom: 85px
    // 6 
    .feedback
        &__wrapper
            padding: 210px 30px 176px 30px
            display: flex
            flex-direction: row
            max-width: 1260px
        &__content
            display: flex
            flex-direction: column
            padding-right: 98px
        &__form-title
            order: 1
            padding-bottom: 30px
            font-size: 18px
            line-height: 22px
        &__title
            order: 2
            padding-bottom: 60px
            font-style: normal
            font-weight: bold
            font-size: 41px
            line-height: 50px
        &__features
            order: 3
            padding: 54px 30px 53px 64px
            margin-bottom: 0
            &-title
                font-style: normal
                font-weight: 500
                font-size: 25px
                line-height: 30px
                padding-bottom: 15px
                &::before
                    font-size: 16px
            &-subtitle
                font-style: normal
                font-weight: 300
                font-size: 16px
                line-height: 20px
        &__form
            min-width: 350px
            max-width: 350px
            &::before
                display: none
        &-form
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1)
            background: #fff
            &__wrapper
                padding: 30px 30px 29px 30px
                box-shadow: none
            &__btn, &__input, &__text
                font-style: normal
                font-weight: normal
                font-size: 14px
                line-height: 17px
                color: #595959
                padding-left: 20px
            &__btn
                font-style: normal
                font-weight: 600
                font-size: 14px
                line-height: 17px
                color: #FFFFFF
            &__recaptcha
                min-height: 51px
        .feedback-group__label:after
            font-size: 14px
        .feedback-group__label
            font-style: normal
            font-weight: normal
            font-size: 10px
            line-height: 12px
            color: #595959
            max-width: 240px


@media only screen and (min-width : 1440px)
    .header
        &__wrapper
            height: 90px
            padding: 0 30px
            justify-content: flex-start
        &__logo
            order: 1
            margin-right: 97px
            &-img
                padding-right: 13px
                width: 62px
            &-title
                display: block
                letter-spacing: 3.9px
        &__order-call
            margin-right: 30px
            font-size: 16px
            padding: 13px 26px
        &__direct-call
            font-size: 18px
            margin-right: 0
        &__nav
            order: 2
            flex-grow: 1
        &__list
            margin-left: auto
            &-item
                &:not(:last-child)
                    margin-right: 30px
            &-link
                font-size: 14px
        &__menu-btn
            order: 3
            display: none
        &__nav,
        &__list
            flex-direction: row
        &__nav
            align-items: center
    // 1
    .welcome
        &__wrapper
            padding-bottom: 190px
        &__type
            padding-bottom: 20px
        &__title
            font-style: normal
            font-size: 52px
            line-height: 70px
            padding-bottom: 30px
            min-width: 824px
        &__main-img-wrapper
            width: 500px
        &__btn
            height: 65px
            padding-left: 20px
            &-icon
                width: 62px
                background-size: 18px
    // 2
    .how
        &-road
            &__item
                margin-bottom: 105px
    .main__wrapper
        padding-top: 90px
    // 4
    .cases
        &__item
            margin-left: auto
            margin-right: auto
            &:not(:last-child)
                margin-bottom: 0
                margin-bottom: 95px
    // 5
    .clients
        &__wrapper
            max-width: 1670px
        &__title
            font-style: normal
            font-weight: normal
            font-size: 42px
            line-height: 51px
            padding-bottom: 170px
        &-carousel
            &__cell
                &::before
                    display: block
                    left: 55%
                    transition: all .3s ease
                &.is-selected::before
                    color: #EF8B54
                    opacity: 1

@media only screen and (min-width : 1600px)
    .welcome__main-img-wrapper
        width: 585px 
    .welcome__wrapper
        padding-bottom: 280px

@media only screen and (min-width : 1920px)
    .clients-carousel__cell
        min-height: 317px
    .clients-carousel__img,
    .clients-carousel__img-wrapper
        width: 317px
        height: 317px
    .clients-carousel__cell:before
        font-style: normal
        font-weight: bold
        font-size: 190px
        line-height: 232px
        left: 45%
